.top-container{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.top{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.top .nav {
	width: 600px;
	height: 40px;
	float: left;
}
.top ul a{
	color: #acaca8;
}
.top ul a:hover{
	color: white;
}
.top .nav ul li{
	float: left;
	line-height: 40px;
}
.top ul li span{
	color: #42423b;
	margin:0px 7px 0px 7px;
}
.top .user{
	height: 40px;
	/*background-color: yellow;*/
	float: right;
}
.top .user li{
	float: left;
	line-height: 40px;
}
.top .car{
	width: 100px;
	height: 40px;
	background-color: #424242;
	float: right;
	line-height: 40px;
	margin-left: 20px;
}
.top .car a{
	display: inline-block;
	width: 100px;
	height: 40px;
	color: #acaca8;
	padding-left: 20px;
	box-sizing: border-box;
}
.top .car a:hover{
	background-color: white;
	color: orange;
}
.logo{
	width: 1225px;
	height: 100px;
	/*background-color: red;*/
	margin: 0 auto;
}
.logo .left{
	width: 55px;
	height: 100px;
	/*background-color: yellow;*/
	float: left;
}
.logo .left img{
	margin-top: 25px;
}
.logo .center{
	height: 100px;
	/*background-color: blue;*/
	float: left;
	font-size: 12px;
}
.logo .center img{
	margin-top: 20px;
}
.logo .center ul li{
	float: left;
	margin-left: 20px;
	line-height: 100px;
	font-size: 16px;
}
.logo .center ul li a{
	color: black;
}
.logo .center ul li a:hover{
	color: orange;
}
.logo .right{
	width: 300px;
	height: 100px;
	/*background-color: pink;*/
	float: right;
	position: relative;
}
.logo .right ul li{
	float: left;
	position: relative;
}
.logo .right ul li:nth-child(1) input{
	width: 243px;
	height: 48px;
	border: 1px solid #000;
	border-color: #e0e0e0;
	margin-top: 25px;
}
.logo .right .search a{
	display: inline-block;
	position: absolute;
	top: 42px;
	left: 90px;
	background-color: #eeeeee;
	text-align: center;
	line-height: 18px;
	width: 70px;
	height: 18px;
}
.logo .right div a:hover{
	background-color: #ff6700;
	color: #fff;
}
.logo .right .search-1 a{
	display: inline-block;
	position: absolute;
	top: 42px;
	left: 167px;
	background-color: #eee;
	text-align: center;
	line-height: 18px;
	width: 70px;
	height: 18px;
}
.logo .right ul li:nth-child(2){
	width: 50px;
	height: 48px;
	border: 1px solid #000;
	border-color: #e0e0e0;
	border-left: 0px;
	margin-top: 25px;
	font-size: 25px;
	text-align: center;
	line-height: 48px;
}
.logo .right ul li:nth-child(2):hover{
	background-color: #ff6700;
}
.logo .right ul li:nth-child(2):hover a{
	color: #fff;
}
.ad{
	width: 1226px;
	/*background-color: green;*/
	margin: 0 auto;
}
.ad .ad-1 {
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
.ad .ad-nav{
	width: 233px;
	height: 460px;
	position: absolute;
	top: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.6);
}
.ad .ad-nav ul{
	margin-top: 40px;
}
.ad .ad-nav ul li{
	width: 233px;
	height: 40px;
	color: white;
	line-height: 40px;
	padding-left: 30px;
	box-sizing: border-box;
}
.ad .ad-nav ul li:hover{
	background-color: #ff6700;
}
.ad .ad-nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 16px;
}
.ad .ad-nav ul li span{
	margin-left: 90px;
	font-size: 20px;
}
.ad .ad-img ul li img{
	position:absolute;
}
.ad .ad-img {
	position: absolute;
}
.ad .ad-img .leftBtn{
	width: 45px;
	height: 70px;
	font-size: 50px;
	color: #b2b3b7;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: 233px;
	top: 50%;
	margin-top: -20px;
}
.ad .ad-img .leftBtn:hover {
	color: #fff;
	background-color: black;
}
.ad .ad-img .rightBtn{
  width: 45px;
	height: 70px;
	font-size:50px;
	color: #b2b3b7;
	text-align: center;
	line-height: 70px;
	position: absolute;
	right: 0px;
	top: 212px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -20px;
}
.ad .ad-img .rightBtn:hover {
	color: #fff;
	background-color: black;
}
.ad .ad-img .bttomBtn{
	list-style: none;
	cursor: pointer;
	position: absolute;
	right: 37px;
	top : 423px;
		}
.ad .ad-img .bttomBtn li{
	float: left;
	width: 6px;
	height: 6px;
	border: 1px solid #000;
	border-radius: 10px;
	margin-left: 10px;
	background-color: #777e89;
}
.ad .ad-img .bttomBtn li.active{
			background-color: #fff;
		}
.ad .ad-2{
	width: 1225px;
	height: 170px;
	/*background-color: yellow;*/
	margin: 15px auto;
}
.ad .ad-2 .ad-2-meau{
	width: 234px;
	height: 170px;
	background-color: #5f5750;
	float: left;
}
.ad .ad-2 .ad-2-meau ul li{
	width: 78px;
	height: 85px;
	float: left;
	text-align: center;
	padding-top: 22px;
	box-sizing: border-box;
	color: #a7a39f;
	position: relative;
}
.ad .ad-2 .ad-2-meau ul .line:after{
	content: "";
	display: block;
	width: 1px;
	height: 60px;
	background-color:#665e57;
	position: absolute;
	top:10px;
	right: 0px;
}
.ad .ad-2 .ad-2-meau ul .line-1:before{
	content: "";
	display: block;
	width: 60px;
	height: 1px;
	background-color: #665e57;	
	position: absolute;
	top:0px;
	right: 6px;
}
.ad .ad-2 .ad-2-meau ul li i{
	display: block;
	font-size: 25px;
	padding-bottom: 7px;
	box-sizing: border-box;
}
.ad .ad-2 .ad-2-meau ul li a{
	color: #a7a39f;
}
.ad .ad-2 .ad-2-meau ul li a:hover{
	color: white;
}
.ad .ad-2 .ad-2-list{
	width: 978px;
	height: 170px;
	/*background-color: blue;*/
	float: right;
}
.ad .ad-2 .ad-2-list ul li{
	width: 316px;
	height: 170px;
	float: left;
	margin-right: 15px;
	transition: all 0.3s linear;
}
.ad .ad-2 .ad-2-list ul li:hover{
	box-shadow: 10px 0px 20px rgba(0,0,0,0.3);
}
.ad .ad-2 .ad-2-list ul li img{
	width: 316px;
	height: 170px;
}
.ad .ad-2 .ad-2-list ul li:last-child{
	margin-right: 0px;
}
.ad .ad-3-head{
	width: 1225px;
	height: 50px;
	/*background-color: yellow;*/
}
.ad .ad-3-head .star-goods{
	float: left;
	font-size: 20px;
	line-height: 50px;
	font-weight: bold;
}
.ad .ad-3-head ul{
	padding-top: 14px;
	box-sizing: border-box;
}
.ad .ad-3-head ul li{
	float: right;
	width: 36px;
	height: 24px;
	border: 1px solid #000;
	text-align: center;
	line-height: 24px;
}
.ad .ad-3-head ul li a{
	font-size: 20px;
}
.ad .ad-3-head ul li a:hover{
	color:  #ff6700;
}
.ad .ad-3-head ul li:last-child{
	border-right: 0px;
}
.ad .ad-3-bottom{
	width: 1226px;
	height: 340px;
	/*background-color: blue;*/
}
.ad .ad-3-bottom ul li{
	width: 234px;
	height: 340px;
	float: left;
	margin-right: 14px;
	background-color: #fafafa;
	text-align: center;
}
.ad .ad-3-bottom ul li:last-child{
	margin-right: 0px;
}
.ad .ad-3-bottom ul li img{
	width: 160px;
	margin-top: 45px;
}
.ad .ad-3-bottom ul li a{
	display: block;
	color: black;
}
.ad .ad-3-bottom ul li .name{
	margin-top: 30px;
}
.ad .ad-3-bottom ul li .p1{
	color: #c0b2b4;
	margin-top: 10px;
}
.ad .ad-3-bottom ul li .p2{
	color: #fe6709;
	margin-top: 20px;
	margin-bottom: 44px;
}
.content{
	width: 100%;
	height: 1150px;
	background-color:#f5f5f5;
	margin-top: 40px;
	overflow: hidden;
}
.content .content-nav{
	width: 1225px;
	height: 50px;
	/*background-color: yellow;*/
	margin: 40px auto 0px auto;
}
.content .content-nav .content-nav-left{
	width: 100px;
	height: 50px;
	/*background-color: red;*/
	float: left;
	font-size: 22px;
	font-weight: bold;
	line-height: 50px; 
}
.content .content-nav .content-nav-right{
	/*background-color: blue;*/
	float: right;	
}
.content .content-nav .content-nav-right ul li{
	margin-left: 31px;
	font-size: 15px;
	float: left;
	text-align: center;
	line-height: 50px;
	position: relative;
	display: inline;
}
.content .content-nav .content-nav-right ul li a{
	color: #424242;
}
.content .content-nav .content-nav-right ul li:nth-child(1) a{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 5px;
	box-sizing: border-box;
}
.content .content-nav .content-nav-right ul li:nth-child(2):hover a {
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 5px;
	box-sizing: border-box;
}
.content .content-nav .content-nav-right ul li:nth-child(3):hover a {
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 5px;
	box-sizing: border-box;
}
.content .content-nav .content-nav-right ul li:nth-child(4):hover a {
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 5px;
	box-sizing: border-box;
}
.content .content-product{
	width: 1225px;
	height: 614px;
	/*background-color:red;*/
	margin: 0 auto;
}
.content .content-product .content-product-left{
	width: 234px;
	height: 614px;
	/*background-color:blue;*/
	float: left;
	transition:all 0.3s linear;
}
.content .content-product .content-product-left:hover{
	box-shadow: 10px 0px 30px rgba(0,0,0,0.5);
	transform: translate3d(0,-2px,0);
}
.content .content-product .content-product-right{
	width: 978px;
	height: 614px;
	/*background-color: green;*/
	float: right;
	position: relative;
}
.content .content-product .content-product-right ul li{
	width: 234px;
	height: 300px;
	float: left;
	background-color:#fff;
	text-align: center;
	margin-right: 14px;
	margin-bottom: 14px;
	position: relative;
	transition: all 0.3s linear;
}
.content .content-product .content-product-right ul li:hover .comment{
	opacity: 1;
	height: 75px;
}
.content .content-product .content-product-right ul li:hover{
	box-shadow: 10px 0 20px rgba(0,0,0,0.4);
	transform: translate3d(0,-2px,0);
}
.content .content-product .content-product-right ul li .comment{
	width: 234px;
	height: 0px;
	background-color: #ff6747;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity:0;
}
.content .content-product .content-product-right ul li .comment p:nth-child(1){
	color: white;
}
.content .content-product .content-product-right ul li .comment p:nth-child(2){
	color: #fff;
	margin-top: 2px;
}
.content .content-product .content-product-right ul li .comment p:nth-child(3){
	color: rgba(255,255,255,0.6);
	margin-top: 5px;
}
.content .content-product .content-product-right ul li:nth-child(4){
	margin-right: 0px;
}
.content .content-product .content-product-right ul li:nth-child(8){
	margin-right: 0px;
}
.content .content-product .content-product-right ul li img{
	width: 125px;
	height: 125px;
	margin-top: 41px;
}
.content .content-product .content-product-right ul li h3{
	font-size: 13px;
	margin-top: 40px;
}
.content .content-product .content-product-right ul li p{
	font-size: 11px;
}
.content .content-product .content-product-right ul li p:nth-of-type(1){
	color: #b4b4b4;
	margin-top: 8px;
}
.content .content-product .content-product-right ul li p:nth-of-type(2){
	color: #ff6700;
	margin-top: 17px;
}
.content .content-product .content-product-right .product1{
	width: 234px;
	height: 143px;
	background-color: #fff;
	position: absolute;
	right: 0;
	bottom: 157px;
	transition: all 0.3s linear;
}
.content .content-product .content-product-right .product1:hover{
	box-shadow: 10px 0 20px  rgba(0,0,0,0.3);
	transform:translate3d(0,-2px,0);
}
.content .content-product .content-product-right .product1 img{
	width: 80px;
	height: 80px;
	position: absolute;
	margin: 32px 20px 31px 134px;
}
.content .content-product .content-product-right .product1 h3{
	font-size: 13px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 43px 104px 86px 30px;
}
.content .content-product .content-product-right .product1 h3:hover{
	overflow: visible;
}
.content .content-product .content-product-right .product1 p{
	font-size: 11px;
	margin: -76px 33px 24px;
	color: #ff6700;
}
.content .content-product .content-product-right .product2{
	width: 234px;
	height: 143px;
	background-color: #fff;
	margin-top: 14px;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: all 0.3s linear;
}
.content .content-product .content-product-right .product2:hover{
	box-shadow: 10px 0 20px rgba(0,0,0,0.3);
	transform: translate3d(0,-2px,0);
}
.content .content-product .content-product-right .product2 i{
	font-size: 48px;
	color: #ff6700;
	margin: -41px 0px 0px 115px;
	display: inline-block;
}
.content .content-product .content-product-right .product2 .product2-2{
	width: 169px;
	height: 50px;
	margin: 48px auto;
}
.content .content-product .content-product-right .product2 .product2-2 p:nth-child(1){
	font-size: 18px;
	font-weight: bold;
}	
.content .content-product .content-product-right .product2 .product2-2 p:nth-child(2){
	color: #818181;
}
.content .video-nav{
	width: 1226px;
	height: 50px;
	margin: 30px auto 0 auto;
	/*background-color: yellow;*/
}
.content .video-left{
	width: 100px;
	height: 50px;
	/*background-color: red;*/
	float: left;
	font-size: 21px;
	line-height: 50px;
	font-weight: bold;
}
.content .video-right{
	width: 100px;
	height: 50px;
	/*background-color: green;	*/
	float: right;
}
.content .video-right ul li{
	float: left;
	font-size:14px;
}
.content .video-right ul:hover li:nth-child(1) a{
	color: #ff6700;
}
.content .video-right ul:hover li:last-child{
	background-color: #ff6700;
}
.content .video-right ul li:first-child{
	line-height: 50px;
	margin-left: 15px;
	color: #424242;
	margin-right: 2px;
}
.content .video-right ul li:last-child{
	width: 20px;
	height: 21px;
	border: 0px solid #000;
	border-radius: 100%;
	background-color: #b0b0b0;
	margin: -36px 0 0px 78px;
}
.content .video-right ul li:last-child a{
	color: #fff;
	font-size: 17px;
	margin: 0px 0px 0px 6px;
}
.content .video-list{
	width: 1226px;
	height: 286px;
	/*background-color: blue;*/
	margin:0 auto;
}
.content .video-list .list-1 li{
	width: 296px;
	height: 285px;
	background-color: #fff;
	float: left;
	margin-right: 14px;
	text-align: center;
	transition: all 0.3s linear;
	position: relative;
}
.content .video-list .list-1 li:hover{
	box-shadow: 10px 0 30px rgba(0,0,0,0.4);
	transform: translate3d(0,-2px,0);
}
.content .video-list .list-1 li:last-child{
	margin-right: 0px;
}
.content .video-list .list-1 li a:nth-of-type(2){
	font-size: 13px;
	color: #424242;
	display: block;
	margin-top: 32px;
	font-weight: bold;
}
.content .video-list .list-1 li a:nth-of-type(2):hover{
	color: #ff6700;
}
.content .video-list .list-1 li p{
	color: #b0b0b0;
	margin-top: 13px;
}
.content .video-list .bton li{
	width: 36px;
	height: 24px;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	left: 20px;
	bottom: 115px;
}
.content .video-list .bton li a{
	color: #fff;
	font-size: 30px;
	position: absolute;
	top: -3px;
	left: 4px;
}
.content .video-list .list-1 li:hover .bton li{
	background-color: #ff6700;
	border-color: #ff6700;
}
.bottom{
	width: 1226px;
	height: 272px;
	/*background-color:gold ;*/
	margin: 0 auto;
}
.bottom .help-top{
	width: 1226px;
	height: 80px;
	/*background-color:green;*/
	margin: 0 auto;
}
.bottom .help-top ul li{
	float: left;
	font-size: 20px;
	text-align: center;
	/*line-height: 80px;*/
	margin-top: 28.5px;
	width: 243px;
	height: 23px;
}
.bottom .help-top ul li:nth-child(2){
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
.bottom .help-top ul li:nth-child(4){
	border-left: 1px solid #e0e0e0;
}
.bottom .help-top ul li:nth-child(5){
	border-left: 1px solid #e0e0e0;
	margin-right: 0px;
}
.bottom .help-top ul li a{
	color: #616161;
	line-height: 23px;
}
.bottom .help-top ul li a:hover{
	color: #ff6700;
}
.bottom .help-top ul li i{
	font-size: 23px;
	vertical-align:-3px;
	margin-right: 7px;
}
.bottom .help-bottom{
	width: 1226px;
	height: 192px;
	/*background-color: blue;*/
	margin: 0px auto;
	border-top: 1px solid #e0e0e0;
}
.bottom .help-bottom .help-list-1{
	float: left;
	margin-left: 102px;
	margin-top: 25px;
}
.bottom .help-bottom .help-list-1 dt{
	font-size: 14px;
}
.bottom .help-bottom .help-list-1 dd:first-child{
	margin-bottom: 31px;
	font-size: 15px;
}
.bottom .help-bottom .help-list-1 dd{
	margin-top: 16px;
}
.bottom .help-bottom .help-list-1 dd a{
	color: #616161;
}
.bottom .help-bottom .help-list-1 dd a:hover{
	color: #ff6700;
}
.bottom .help-bottom .help-list-1:first-child{
	margin-left: 0px;
}
.bottom .help-bottom .help-list-3{
	float: right;
	width: 250px;
	text-align: center;
	margin-top: 39px;
	border-left: 1px solid #e0e0e0;
}
.bottom .help-bottom .help-list-3 li h1{
	font-size: 22px;
	color: #ff6700;
	font-weight: bold;
}
.bottom .help-bottom .help-list-3 li p{
	color: #616161;
}
.bottom .help-bottom .help-list-3 li p:nth-of-type(1){
	margin-top: 9px;
}
.bottom .help-bottom .help-list-3 li p:nth-of-type(2){
	margin-top: 6px;
}
.bottom .help-bottom .help-list-3 li a{
	color: #ff6700;
	display: block;
	width: 120px;
	height: 30px;
	border: 1px solid #ff6700;
	line-height: 30px;
	margin-left: 60px;
	margin-top: 19px;
}
.bottom .help-bottom .help-list-3 li a:hover{
	background-color: #ff6700;
	color: #fff;
}
.link{
	width: 100%;
	height: 165px;
	background-color:#fafafa;
}
.link .link-top{
	width: 1226px;
	height: 117px;
	/*background-color: yellow;*/
	margin: 0 auto;
}
.link .link-top .link-top-1{
	width: 750px;
	height: 57px;
	/*background-color: red;*/
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
.link .link-top .logo{
	width: 56px;
	height: 57px;
	float: left;
	margin-top: 30px;
}
.link .link-top .link-top-1 ul li{
	float: left;
}
.link .link-top .link-top-1 ul li span{
	color: #b0b0b0;
	margin-left: 4px;
	margin-right: 4px;
}
.link .link-top .link-top-1 ul li a{
	color: #757575;
}
.link .link-top .link-top-1 a:hover{
	color: #ff6700;
}
.link .link-top .link-top-1 p,p a{
	color: #b0b2c2;
}
.link .link-top .link-top-2{
	width: 400px;
	height: 57px;
	/*background-color: green;*/
	float: right;
	margin-top: 30px;
} 
.link .link-top .link-top-2 ul li img{
	width: 84px;
	height: 28px;
	margin-right: 0px;
}
.link .link-top .link-top-2 ul li{
	float:left;
	margin-left: 15px;
}
.link .link-top .link-top-2 ul li:last-child{
	margin-right: 0px;
}
.link .link-bottom{
	width: 1226px;
	height: 48px;
	/*background-color: blue;*/
	margin:0 auto;
	text-align: center;
	color: #bababa;
	font-size: 20px;
}
